<user nick="astrax" password="{{ secrets.bitlbee_pass2 }}" version="1">
  <setting name="last_version">197122</setting>
  <channel name="&amp;bitlbee" type="control">
    <setting name="auto_join">true</setting>
  </channel>

  <account protocol="twitter"
           handle="ristohietal"
           password="{{ secrets.twitter_pass }}"
           autoconnect="false"
           tag="twitter"/>

  <account protocol="hangouts"
           handle="risto.hietala@gmail.com"
           password="{{ secrets.hangouts_pass }}"
           autoconnect="false"
           tag="hangouts">
    <setting name="nick_format">%full_name</setting>
  </account>
  <account protocol="jabber"
           handle="208972_3765608@chat.hipchat.com"
           password="{{ secrets.hipchat_pass }}"
           autoconnect="false"
           tag="hipchat">
    <setting name="nick_format">%full_name</setting>
  </account>
  <account protocol="telegram"
           handle="+358440545705"
           password="{{ secrets.telegram_pass }}"
           autoconnect="true"
           tag="telegram">
    <setting name="display_name">Risto Hietala</setting>
  </account>
</user>
