servers = (
  {
    address = "irc.quakenet.org";
    chatnet = "quakenet";
    port = "6667";
    use_ssl = "no";
    autoconnect = "no";
  },
  {
    address = "irc.eu.freenode.net";
    chatnet = "freenode";
    port = "6667";
    use_ssl = "no";
    autoconnect = "no";
  },
  {
    address = "open.ircnet.net";
    chatnet = "IRCnet";
    port = "6667";
    use_ssl = "no";
  },
  {
    address = "irc.fi.quakenet.org";
    chatnet = "quakenet";
    port = "6667";
    use_ssl = "no";
    ssl_verify = "no";
  },
  {
    address = "irc.se.quakenet.org";
    chatnet = "quakenet";
    port = "6667";
    use_ssl = "no";
    ssl_verify = "no";
  },
  {
    address = "irc.no.quakenet.org";
    chatnet = "quakenet";
    port = "6667";
    use_ssl = "no";
    ssl_verify = "no";
  },
  {
    address = "irc.dk.quakenet.org";
    chatnet = "quakenet";
    port = "6667";
    use_ssl = "no";
    ssl_verify = "no";
  },
  {
    address = "irc.flowdock.com";
    chatnet = "flowdock";
    port = "6697";
    use_ssl = "yes";
    ssl_verify = "no";
    autoconnect = "no";
  },
  {
    address = "localhost";
    chatnet = "bitlbee";
    port = "{{ bitlbee_port }}";
    password = "{{ secrets.bitlbee_pass }}";
    use_ssl = "no";
    ssl_verify = "no";
    autoconnect = "no";
  }
);

chatnets = {
  IRCnet = {
    type = "IRC";
    max_query_chans = "5";
    max_kicks = "4";
    max_msgs = "5";
    max_modes = "3";
    max_whois = "4";
  };
  freenode = {
    type = "IRC";
    max_kicks = "4";
    max_msgs = "1";
    max_modes = "4";
    max_whois = "1";
  };
  quakenet = {
    type = "IRC";
    autosendcmd = "msg q@cserve.quakenet.org auth {{ nick }} {{ secrets.quakenet_pass }}";
    cmdmax = "5";
  };
  flowdock = {
    type = "IRC";
    autosendcmd = "msg nickserv identify {{ flowdock_acc }} {{ secrets.flowdock_pass }}";
  };
  bitlbee = {
    type = "IRC";
    autosendcmd = "msg &bitlbee identify {{ secrets.bitlbee_pass }}";
  };
};

channels = (
  { name = "#epoque"; chatnet = "quakenet"; autojoin = "yes"; },
  { name = "#kumea"; chatnet = "quakenet"; autojoin = "yes"; },
  { name = "#dahlia"; chatnet = "ircnet"; autojoin = "yes"; },
  { name = "#batmud"; chatnet = "ircnet"; autojoin = "yes"; }
);

aliases = {
  J = "join";
  WJOIN = "join -window";
  WQUERY = "query -window";
  LEAVE = "part";
  BYE = "quit";
  EXIT = "quit";
  SIGNOFF = "quit";
  DESCRIBE = "action";
  DATE = "time";
  HOST = "userhost";
  LAST = "lastlog";
  SAY = "msg *";
  WI = "whois";
  WII = "whois $0 $0";
  WW = "whowas";
  W = "/window";
  N = "names";
  M = "window 6";
  T = "topic";
  C = "window 3";
  CL = "clear";
  K = "kick";
  KB = "kickban";
  KN = "knockout";
  BANS = "ban";
  B = "window 5";
  MUB = "unban *";
  UB = "unban";
  IG = "ignore";
  UNIG = "unignore";
  SB = "scrollback";
  UMODE = "mode $N";
  WC = "window close";
  WN = "window new hide";
  SV = "say Irssi $J ($V) - http://irssi.org/";
  GOTO = "sb goto";
  CHAT = "dcc chat";
  RUN = "SCRIPT LOAD";
  SBAR = "STATUSBAR";
  INVITELIST = "mode $C +I";
  Q = "QUERY";
  "yo" = "ignore * joins parts quits nicks";
  "yopois" = "unignore * joins parts quits nicks";
  uq = "/unquery";
  slap = "/me laps$_";
  a = "/window 6";
  voice = "voice -yes ";
  raks = "/me <<3$_";
  im = "/say HAHAHA";
  z = "window 1";
  x = "window 2";
  v = "window 4";
  jorma = "/say http://www.hs.fi/fingerpori/1135243953038";
  READ = "script exec \\$_->activity(0) for Irssi::windows";
};

statusbar = {
  # formats:
  # when using {templates}, the template is shown only if it's argument isn't
  # empty unless no argument is given. for example {sb} is printed always,
  # but {sb $T} is printed only if $T isn't empty.

  items = {
    # start/end text in statusbars
    barstart = "{sbstart}";
    barend = "{sbend}";

    topicbarstart = "{topicsbstart}";
    topicbarend = "{topicsbend}";

    # treated "normally", you could change the time/user name to whatever
    time = "{sb $Z}";
    # user = "{sb $cumode$N{sbmode $usermode}{sbaway $A}}";
    user = "{sbaway $A}";

    # treated specially .. window is printed with non-empty windows,
    # window_empty is printed with empty windows
    window = "{sb $winref:$tag/$itemname{sbmode $M}}";
    # $M
    window_empty = "{sb $winref{sbservertag $tag}}";
    prompt = "{prompt $[.15]itemname}";
    prompt_empty = "{prompt $winname}";
    topic = " $topic";
    topic_empty = " Irssi v$J - http://irssi.org/help/";

    # all of these treated specially, they're only displayed when needed
    lag = "{sb Lag: $0-}";
    act = "{sb $0-}";
    more = "-- more --";
  };

  # there's two type of statusbars. root statusbars are either at the top
  # of the screen or at the bottom of the screen. window statusbars are at
  # the top/bottom of each split window in screen.
  default = {
    # the "default statusbar" to be displayed at the bottom of the window.
    # contains all the normal items.
    window = {
      disabled = "no";

      # window, root
      type = "window";
      # top, bottom
      placement = "top";
      # number
      position = "1";
      # active, inactive, always
      visible = "active";

      # list of items in statusbar in the display order
      items = {
        barstart = { priority = "100"; };
        time = { };
        user = { };
        window = { };
        window_empty = { };
        lag = { priority = "-1"; };
        act = { priority = "10"; };
        more = { priority = "-1"; alignment = "right"; };
        barend = { priority = "100"; alignment = "right"; };
      };
    };

    # statusbar to use in inactive split windows
    window_inact = {
      type = "window";
      placement = "bottom";
      position = "1";
      visible = "inactive";
      items = {
        barstart = { priority = "100"; };
        window = { };
        window_empty = { };
        more = { priority = "-1"; alignment = "right"; };
        barend = { priority = "100"; alignment = "right"; };
      };
    };

    # we treat input line as yet another statusbar :) It's possible to
    # add other items before or after the input line item.
    prompt = {
      type = "root";
      placement = "bottom";
      # we want to be at the bottom always
      position = "100";
      visible = "always";
      items = {
        prompt = { priority = "-1"; };
        prompt_empty = { priority = "-1"; };
        # treated specially, this is the real input line.
        input = { priority = "10"; };
      };
    };

    # topicbar
    topic = {
      disabled = "yes";
      type = "root";
      placement = "top";
      position = "1";
      visible = "always";
      items = {
        topicbarstart = { priority = "100"; };
        topic = { };
        topic_empty = { };
        topicbarend = { priority = "100"; alignment = "right"; };
      };
    };
  };
};
settings = {
  core = {
    real_name = "{{ realname }}";
    user_name = "{{ user }}";
    nick = "{{ nick }}";
    timestamp_format = "%H%M";
    recode_fallback = "iso-8859-15";
  };
  "fe-common/core" = {
    autolog_path = "~/log/%Y-%m-$0.log";
    autolog = "yes";
    hide_colors = "yes";
    show_nickmode_empty = "no";
    autocreate_query_level = "msgs dccmsgs";
    theme = "skeita.red.theme";
    completion_char = ".";
    autocreate_own_query = "no";
    hide_text_style = "yes";
    completion_nicks_lowercase = "yes";
    term_charset = "UTF-8";
  };
  "irc/core" = {
    alternate_nick = "{{ altnick }}";
    ctcp_version_reply = "irssi";
    skip_motd = "yes";
  };
  "irc/dcc" = {
    dcc_autoresume = "yes";
    dcc_autoget = "no";
    dcc_port = "3601";
  };
  "fe-text" = {
    paste_verify_line_count = "5";
    actlist_sort = "refnum";
    indent = "2";
  };
  proxy = {
    irssiproxy_password = "{{ secrets.irssiproxy_pass }}";
    irssiproxy_bind = "127.0.0.1";
    irssiproxy_ports = "quakenet={{ irssiproxy_port_quakenet }} ircnet={{ irssiproxy_port_ircnet }} flowdock={{ irssiproxy_port_flowdock }} bitlbee={{ irssiproxy_port_bitlbee }}";
  };
};
logs = { };
hilights = (
  { text = "{{ nick }}"; nick = "yes"; word = "yes"; },
  { text = "{{ altnick }}"; nick = "yes"; word = "yes"; }
  { text = "/<risto"; nick = "yes"; word = "yes"; regexp = "yes"; },
  { text = "\\<risto"; nick = "yes"; word = "yes"; regexp = "yes"; },
);
notifies = {
};
keyboard = (
);
ignores = (
);
conversions = {
  quakenet = "UTF-8";
  ircnet = "UTF-8";
  flowdock = "UTF-8";
  bitlbee = "UTF-8";
};
windows = {
  1 = { immortal = "yes"; name = "(status)"; level = "ALL"; };
  3 = {
    items = (
      {
        type = "CHANNEL";
        chat_type = "IRC";
        name = "#epoque";
        tag = "quakenet";
      }
    );
  };
  4 = {
    items = (
      {
        type = "CHANNEL";
        chat_type = "IRC";
        name = "#kumea";
        tag = "quakenet";
      }
    );
  };
};
mainwindows = { 1 = { first_line = "0"; lines = "36"; }; };
